.responsive-banner {
    position: relative;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
}


.responsive-banner {
    .mySwiper {
        .swiper-wrapper {
            .swiper-slide {
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
            }
        }
    }
}


.banner-text-stroke {
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}

.border-rad {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}


.circle-a {
    fill: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -0px;
    left: 0px;
}

.circle-b {
    fill: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 80px;
    right: 70%;
}

.circle-c {
    fill: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 120px;
    right: -200px;
    //left: 50%;
}

.cirle-d {
    fill: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 195px;
    right: 145px;
}

.banner {
    @media screen and (max-width: 767px) {
        background-image: url(../../../../assets/about.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 2rem 0;
        z-index: -999;

    }

}