@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");

$font-01: "Raleway",
sans-serif;

$gradient-02: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
$gradient-01: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

$m-01: #9197ae;
$m-02: #637498;

@mixin sm {
    @media screen and (max-width: 799px) {
        @content;
    }
}




.mainHeading {
    width: 100%;
    height: 100%;
    position: relative;
    //padding-top: 0rem;
    //padding: 0 40px;
    //background-image: url(./../../../../assets/about.jpg);
    //background-color: #597ca58f;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
    //background-image: $gradient-01;
    //display: flex;
    //align-items: center;
    //justify-content: center;
    padding-top: 13rem;


    @include sm {
        padding: 0 20px;
    }

    &__content {
        //max-width: 1110px;
        //min-height: 600px;
        //transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;


        @include sm {
            min-height: 500px;
        }
    }

    &__text {
        z-index: 1;

        background-color: rgba(white, 0.2);
        padding: 40px;
        max-width: 720px;
        margin-top: 100px;
        width: 70%;

        animation: text 0.8s 0.6s ease backwards;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 5px;
            height: 100%;
            background-color: rgba(white, 0.5);
            top: 0;
            left: 0;
            animation: line 0.8s 0.6s ease backwards;

            @keyframes line {
                0% {
                    right: 0;
                    width: 100%;
                    opacity: 0;
                }
            }
        }

        @include sm {
            padding: 20px;
            margin: 90px 0 40px 0;
        }

        @keyframes text {
            0% {
                opacity: 0;
                transform: translateX(200px);
            }
        }
    }

    &__preTitle {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 16px;
        //color: $m-02;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 2px;
        margin-bottom: 24px;
        font-size: 40px;
        //color: $m-02;

        @include sm {
            margin-bottom: 16px;
            font-size: 28px;
        }
    }

    &__description {
        letter-spacing: 0.5px;
        font-size: 16px;
        line-height: 26px;

        @include sm {
            font-size: 14px;
        }
    }

      .mainHeading__image {
        right: 0;
        //max-width: 600px;
        //width: 60%;
        //height: 600px;
        height: 45rem;
        border-radius: 1.5rem;
        transform: translatey(100px);
        position: absolute;
        overflow: hidden;
        animation: image 0.6s 0.2s ease backwards;

        //@include sm {
        //    height: 480px;
        //    width: 70%;
        //    transform: translatey(80px);
        //    right: -6%;
        //}

        //@keyframes image {
        //    0% {
        //        opacity: 0;
        //        transform: translatey(200px);
        //    }
        //}

        //&:before,
        //&:after {
        //    content: "";
        //    position: absolute;
        //    width: 100%;
        //    height: 0%;
        //    top: 100%;
        //    background-image: $gradient-01;
        //    opacity: 1;
        //    left: 0;
        //}

        //&:before {
        //    animation: imageBefore 1s 0.2s ease backwards;

        //    @keyframes imageBefore {
        //        0% {
        //            height: 100%;
        //            top: 0;
        //        }
        //    }
        //}

        //&:after {
        //    background-image: $gradient-01;
        //    height: 100%;
        //    top: 0;
        //    opacity: 0.2;
        //}

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.cta {
    padding: 16px 32px;
    //color: $m-02;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-family: $font-01;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 32px;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.2);
    transition: all 0.4s ease;

    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: inset 0px -80px 0px rgba(255, 255, 255, 0.1);
        transform: translateY(-5px);
    }


}