@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply max-w-screen-2xl mx-auto px-2 md:px-5;
}

:root {
  background-image: linear-gradient(to top, #e7fa40 -50%, #e77f5a 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.toyButton {
  padding: 1rem;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;

  text-wrap: nowrap;

  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  /*margin-top: 32px;*/
  cursor: pointer;
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.2);
  transition: all 0.4s ease;
}
.toyButton:hover {
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px -80px 0px rgba(255, 255, 255, 0.1);
  transform: translateY(-5px);
}

.toyBorder {
  padding: 1rem;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;

  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 32px;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.2);
  transition: all 0.4s ease;
}
